.back {
  /* background-color: hsl(0, 3%, 61%); */
  width: 90%;
  height: 100%;
  /* float: left; */
}


.info h2 {
  margin: 0 auto;
  align-items: center;
  background-color: black;
  width: 110%;
  height: 110%;
  color: white;
  margin-bottom: 10px;
}

.balao {
  /* background-color: #213b97; */

  width: 100px;
  height: 100px;
  background-color: hwb(200 7% 41%);
  color: hsl(0, 0%, 0%);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;

  flex-direction: column;
}

.quadrosMaiores {
  /* background-color: #213b97; */

  width: 93%;
  height: 100%;
  background-color: hwb(200 7% 41%);
  color: hsl(0, 0%, 0%);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;

  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

/* styles.css */
