.naoLogado {
  display: flex;
  /* background-color: #213b97; */
  color: white;

  padding: 10px;
  width: 100%;
  height: 20px;

  align-items: center;

  position: fixed;
  top: 0;
  left: 45%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}


.naoLogado button {
  background-color: #f0f0f0;
  color: #000000;
  border-radius: 10px;
  padding: 4px;
}

.logado {
  display: flex;
  /* background-color: #213b97; */
  color: white;

  padding: 10px;
  width: 100%;
  height: 20px;

  align-items: center;

  position: fixed;
  top: 0;
  left: 80%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.logado button {
  background-color: #f0f0f0;
  color: #000000;
  border-radius: 10px;
  padding: 4px;
}
