/* styles.css */

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox-wrapper input[type="checkbox"]:checked {
  background-color: hsl(150, 75%, 24%);
  border-color: solid #333;
}

.checkbox-wrapper span {
}
