.back {
  /* background-color: hsl(0, 3%, 61%); */
  width: 90%;
  height: 100%;
  /* float: left; */
}

.box {
  margin: 0 auto;
  align-items: center;
  background-color: white;
  width: 99%;
  height: 30px;
  color: grey;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.botao {
  margin: 0 auto;
  align-items: center;
  background-color: grey;
  width: 120px;
  height: 30px;
  color: black;
  margin-bottom: 10px;
  fontsize: 20px;
}

.box input {
  margin: 0 auto;
  align-items: center;
  background-color: white;
  width: 99%;
  height: 30px;
  color: grey;
  margin-bottom: 10px;
  border: 2px solid #333;
}
